* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 8rem;
  letter-spacing: 1.03px;
  background-size: 100% 100% !important;
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
::selection {
  color: #000000;
  background: transparent;
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.site-content {
  position: absolute;
}

.nav,
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}


.links {
  display: flex;
  gap: 2em;
}

a {
  text-decoration: none;
  color: #3a3737;
  font-family: "Neue Montreal";
  pointer-events: auto;
}

.logo a {
  font-family: "Proxy_Mono_Beta";
  text-transform: uppercase;
}

.hero-copy {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.hero-copy h1 {
  font-size: 8vw;
  color: #272424;
  font-family: "Proxy_Mono_Beta";
  text-transform: uppercase;
  font-weight: 400;
}

.hero-copy p {
  font-size: 2vw;
  color: #2f2828;
  font-family: "Neue Montreal";
  margin: 0.5em 0;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: top;
}
.titleMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.canvas-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; /* or any width you prefer */
  height: 100vh; /* full height of the viewport */
}