* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
  
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 8rem;
  letter-spacing: 1.03px;
  background-size: 100% 100% !important;
}
.title2 {
  font-size: 5rem;
  letter-spacing: 0.05px;
  background-size: 100% 100% !important;
}
.scrollhere {
  display: flex; /* Make the container a flexbox container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 2rem;
  letter-spacing: 1.03px;
  background-size: 100% 100% !important;
  height: 100%; /* You might need to adjust this */
  width: 100%; /* You might need to adjust this */


}
.canvas-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; /* or any width you prefer */
  height: 100vh; /* full height of the viewport */
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
::selection {
  color: #000000;
  background: transparent;
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.site-content {
  position: absolute;
}

.nav,
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}


.links {
  display: flex;
  gap: 2em;
}

a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Neue Montreal";
  pointer-events: auto;
}

.logo a {
  font-family: "Proxy_Mono_Beta";
  text-transform: uppercase;
}

.hero-copy {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.hero-copy h1 {
  font-size: 8vw;
  color: #272424;
  font-family: "Proxy_Mono_Beta";
  text-transform: uppercase;
  font-weight: 400;
}

.hero-copy p {
  font-size: 2vw;
  color: #2f2828;
  font-family: "Neue Montreal";
  margin: 0.5em 0;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: top;
}
.titleMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}



:root {
  --color-bg: #c0c0c0;
  --color-section-1: #fff;
  --color-section-2: #ff3d01;
  --color-section-3: #5922cc;
  --color-section-4: #000;
  --color-section-5: #2935f8;
  --color-section-6: #ff113d;
  --color-section-7: #fffc03;
  --color-section-8: #0afc04;
}

.map > div p:nth-child(1) {
  font-size: 13px;
}

.map > div p:nth-child(2) {
  font-size: 20px;
}

.copy {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: 1.5px solid #000;
  border-radius: 20px;
}

.copy h1 {
  font-weight: 300;
  font-size: 60px;
}

.section-1 {
  height: 500px;
}

.section-2 {
  height: 800px;
}

.section-3 {
  height: 600px;
}

.section-4 {
  height: 900px;
}

.section-5 {
  height: 800px;
}

.section-6 {
  height: 400px;
}

.section-7 {
  height: 600px;
}

.section-8 {
  height: 800px;
}

.whitespace {
  width: 100%;
  height: 100px;
  border: none !important;
}

.s-1,
.section-1 .header,
.section-1 .copy {
  background: var(--color-section-1);
}

.s-2,
.section-2 .header,
.section-2 .copy {
  background: var(--color-section-2);
  color: #fff;
}

.s-3,
.section-3 .header,
.section-3 .copy {
  background: var(--color-section-3);
  color: #fff;
}

.s-4,
.section-4 .header,
.section-4 .copy {
  background: var(--color-section-4);
  color: #fff;
}

.s-5,
.section-5 .header,
.section-5 .copy {
  background: var(--color-section-5);
  color: #fff;
}

.s-6,
.section-6 .header,
.section-6 .copy {
  background: var(--color-section-6);
  color: #fff;
}

.s-7,
.section-7 .header,
.section-7 .copy {
  background: var(--color-section-7);
}

.s-8,
.section-8 .header,
.section-8 .copy {
  background: var(--color-section-8);
}
