* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* This ensures elements with padding don't end up larger than you expect */
}

#parentRef {
  position: relative; /* Ensures absolute positioning inside is relative to this container */
  height: 100%; /* Ensure it has a height, adjust as needed */
  width: 100%; /* Adjust width as necessary */
}

#mySelectDropdown {
  position: absolute; /* Absolute position relative to the nearest positioned parent */
  top: 400px; /* Position from the top of the parent */
  left: 180px; /* Position from the left of the parent */
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 8rem;
  letter-spacing: 1.03px;
  background-size: 100% 100% !important;
}
.title2 {
  font-size: 5rem;
  letter-spacing: 0.05px;
  background-size: 100% 100% !important;
}
.title3 {
  font-size: 2rem;
  letter-spacing: 0.05px;
  background-size: 100% 100% !important;
}
.scrollhere {
  display: flex; /* Make the container a flexbox container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  font-size: 1.5rem;
  letter-spacing: 1.1px;
  background-size: 120% 100% !important;
  height: 120%; /* You might need to adjust this */
  width: 100%; /* You might need to adjust this */

}
.canvas-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%; /* or any width you prefer */
  height: 100vh; /* full height of the viewport */
}

.cursor {
  background-color: #111;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
::selection {
  color: #000000;
  background: transparent;
}

html,
body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  position: relative;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.site-content {
  position: absolute;
}

.nav,
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
}


.links {
  display: flex;
  gap: 2em;
}
.links2 {
  display: flex;
  gap: 5em;
}

a {
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Neue Montreal";
  pointer-events: auto;
}

.logo a {
  font-family: "Proxy_Mono_Beta";
  text-transform: uppercase;
}


.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: bottom;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #0f0f0f;
  transform-origin: top;
}
.titleMargin {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mt-4 {
  font-size: 20px; /* Adjust the font size as needed */
  word-spacing: 3px; /* Adjust the word spacing as needed */
}
.mt-3 {
  font-size: 18px; /* Adjust the font size as needed */
  word-spacing: 3px; /* Adjust the word spacing as needed */
}
.mt-2 {
  font-size: 14.5px; /* Adjust the font size as needed */
  word-spacing: 2px; /* Adjust the word spacing as needed */
}
.icon-scroll {
	position: absolute;
	top: 210vh; /* Adjusted to make the icon appear lower */
	left: 50%;
	width: 2em; /* Adjust if necessary */
	height: 6.25em; /* Adjust if necessary */
	transform: translateX(-50%) scale(3); /* Adjust scale as needed */
	z-index: 99999;
}

.icon-arrows::after,
.icon-arrows::before,
.icon-arrows span {
	display: block;
	width: 0.63em; /* Increased for bigger arrows */
	height: 0.63em; /* Increased for bigger arrows */
	border-right: 2px solid black; /* Thicker for visibility */
	border-bottom: 2px solid black; /* Thicker for visibility */
	margin: 0 0 0.25em 0.63em; /* Adjusted spacing */
	transform: rotate(45deg);
	animation: mouse-scroll 1s infinite;
	animation-direction: alternate;
}

.icon-arrows::before {
	margin-top: 0.63em; /* Adjusted spacing */
	animation-delay: .1s;
}

.icon-scroll span {
	animation-delay: .2s;
}

.icon-arrows::after {
	animation-delay: .3s;
}

.icon-scroll .mouse {
	height: 2.75em; /* Increased size */
	width: 1.75em; /* Increased size */
	border: 2px solid black; /* Thicker border for better visibility */
	border-radius: 4em; /* Adjusted for aesthetic */
}

.icon-scroll .wheel {
	position: relative;
	display: block;
	height: 0.375em; /* Increased size */
	width: 0.375em; /* Increased size */
	margin: 0.375em auto 0; /* Adjusted spacing */
	background: #873636;
	animation: mouse-wheel 1.2s ease infinite;
	border-radius: 50%;
}
.custom-cursor {
  position: fixed;
  z-index: 9999; /* Make sure this is higher than other elements */
  pointer-events: none; /* Igno
  re the cursor element when detecting mouse events */
}
.nav-item {
  margin-right: 20px; /* Adjust the value as needed */
  display: inline-block; /* This will make each nav-item align horizontally */
}

.nav-links {
  text-align: center; /* Center-align nav-items if desired */
}

/* Ensure that the last item doesn't have a margin to the right */
.nav-item:last-child {
  margin-right: 0;
}

/* Optional: Add a vertical separator line between links */
.nav-item:not(:last-child)::after {
  content: "|";
  margin-left: 20px;
  color: #ccc; /* Adjust color as needed */
}
.button {
  cursor: pointer;
}
.clickable, button, .control-item {
  cursor: pointer;
}
/* canvas */

.paint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-top: 200px;
  width: 100%;
  margin-left: 20px;
  
}

.control-item {
  margin-bottom: 10px; /* Space between control items */
  padding-top: 20px;
  padding-left: 40px; 
}

.control-item2 {
  margin-bottom: 2px; /* Space between control items */
  padding-top: 50px;
  padding-left: 40px; 
}




@keyframes mouse-wheel {
	0% {
		opacity: 1;
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		transform: translateY(0.75em); /* Increased movement */
	}
}

@keyframes mouse-scroll {
	0%   { opacity: 0; }
	50%  { opacity: .5; }
	100% { opacity: 1; }
}
